body {
	margin: 0;
	padding: 0;
}

.container .nopadding{
	padding-right: 0;
	padding-left: 0;
}
header {
	background-color: #5682a3;
	height: 50px;
}

header img {
	width: 24px;
}
.menu-bar, .search {
	padding: 13px 3%;
}

.logo {
	display: flex;
	height: 50px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo h1 {
	color: white;
	margin: 0;
	font-size: 1.3em;
	text-align: center;	
}

.search img{
	margin-right: 3%;
}
.search-text {
	height: 25px;
	width: 75%;
	border-radius: 2px;
	border-style: none;
	padding-left: 3%;
	color: grey;
	background-position: 2px 3px;
}

.content {
	border-right: 1px #ddd solid;
	border-left: 1px #ddd solid;
	padding-top: 30px;
	
}
.name {
	text-align: center;
	margin-bottom: 80px;
}


.stats-panel{ 
	position: relative;
	text-align: center;
}

.stats-panel .panel-body {
	margin-top: 50px;
}

.profile-avatar {
	border-radius: 50%;
	position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -65px;
    border: 5px solid white;

}

.border-right-grey {
	border-right: 1px solid #ddd;
}

.border-bottom-grey {
	border-bottom: 1px solid #ddd;
}

.panel-body {
	padding-top: 15px;
    padding-bottom: 10px;
}

.panel-body p {
	font-weight: bold;
	text-decoration: underline;
}


/* POST ---------------------------*/

.profile-img {
	/*width: 75px;
	height: 75px;*/
	border-radius: 50px;
}

.post-functions img {
	width: 10px;
}

.profile-img-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.post-content {
	padding-left: 25px;
}

/* ADDING POST ----------------------*/

.user-post-input {
	height: 100px;
	width: 100%;
	background-color: #dfdfdf;
	border-radius: 3px;
}
#user-textarea {
	width: 98%;
	margin: 1%;
	border-radius: 5px;
	padding: 2px 3px; 
	resize: none;
}

.input {
	margin-bottom: 0;
}

.tags {
	margin: 1%;
	}

.additional-panel {
	width: 100%;
	margin: 0;
}

.drop-tags {
	padding-left: 0;
	padding-right: 0;
}
/* NAVBAR MENU -------------------*/
.menu-list {
	left: 6%;
}

/* SETTIGNS PAGE ----------------*/

